.fale-titulo{
    text-align: center;
}
.fale-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.botao{
    background-color: aqua;
}

.input{
    width: 65vw;
    border-radius: 10px;
    border:1px solid blue;
    border-color: blue;
    
}

.text-area{
    width: 65vw;
    border-radius: 10px;
    border:1px solid blue;
    border-color: blue;
}