.containerMorAreas{
margin: 0 auto;
width: 80%;
min-height: 70vh;
}
.cardsArea{
min-width: 80vw;
min-height: 20vh;
border: 1px solid black;
margin-top: 20px;
background-color: #D0E4FE;
border-radius: 80px 10px;
box-shadow: 2px 3px 5px black;
padding: 20px;
margin-bottom: 30px;
}