.tribunais-title{
    text-align: center;
}
.tribunais-container1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.tribunais-container2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}